.statistics {
  box-shadow: 2px -3px 4px 0px #0000001f, 1px 4px 6px 0px #00000029,
    0px 4px 4px 0px #0000000f, 0px 1px 1px 0px #0000001f;
  text-align: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: #606368;
  font-size: 25px;
}

.statList {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0px;
  margin: 0px;
}

.item {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.item:nth-child(1) {
  background-color: #4dc5f7;
}

.item:nth-child(2) {
  background-color: #a43cf6;
}

.item:nth-child(3) {
  background-color: #e64c63;
}

.item:nth-child(4) {
  background-color: #20b8c5;
}

.item:nth-child(5) {
  background-color: #a43cf6;
}

.label {
  color: #ffffff;
  font-size: 13px;
}

.percentage {
  color: #ffffff;
  font-size: 25px;
}
